In [67]:
import pandas as pd

In [65]:
LOAN_AMT = 50000
LOAN_TERM = 60 #in month
APR = 0.1510 #in percentage

In [ ]:
# APR = (Interest / Loan amount) / Number of days in loan term)) x 365 x 100
APR * N / 36500 = (I+F) / P

In [14]:
625/50000/(60*365)

5.707762557077626e-07

In [6]:
I = 50000*0.15/12
I

625.0

In [110]:
def calculate_interest(P,r):
    '''Calculate simple monthly interest payment
    '''
    
    return P*r/12
    
def calculate_snapshot_monthly(P, r, n):
    '''Calculate amortized monthly payment
    
    P (int): initial principal
    r (float): interest per period (e.g., APR/12)
    n (int): total number of payments
    '''
    r /= 12 #interest per month
    A = P / ( (1+r)**n-1 ) * (r*(1+r)**n)
    
    return A

def generate_amortization_table(P,r,n):
    '''Generate complete amortization schedule
    
    P (int): initial principal
    r (float): interest per period (e.g., APR/12)
    n (int): total number of payments
    '''
    cols = ['Beginning Balance', 'Total Pmt', 'Interest', 'Principal', 'Ending Balance']
    df = pd.DataFrame(columns=cols)
    M = calculate_snapshot_monthly(P=P, r=r, n=n) #monthly total (this is constant)
    
    for i in range(n):
        I = calculate_interest(P=P, r=r)
        P_i = P #initial balance
        pr = M-I #principal
        P -= pr #ending balance
        tmp = [P_i, M, I, pr, P]
        tmp = [round(j,2) for j in tmp]
        
        df = pd.concat([df, pd.DataFrame(tmp, index=cols).T])
        df = df.reset_index(drop=True)
        df.index += 1
    return df

In [111]:
generate_amortization_table(P=LOAN_AMT, r=APR, n=LOAN_TERM)

   Beginning Balance Total Pmt Interest Principal Ending Balance
1            50000.0   1192.12   629.17    562.96       49437.04
2           49437.04   1192.12   622.08    570.04        48867.0
3            48867.0   1192.12   614.91    577.21       48289.79
4           48289.79   1192.12   607.65    584.48       47705.32
5           47705.32   1192.12   600.29    591.83       47113.48
6           47113.48   1192.12   592.84    599.28       46514.21
7           46514.21   1192.12    585.3    606.82       45907.39
8           45907.39   1192.12   577.67    614.45       45292.93
9           45292.93   1192.12   569.94    622.19       44670.75
10          44670.75   1192.12   562.11    630.02       44040.73
11          44040.73   1192.12   554.18    637.94       43402.79
12          43402.79   1192.12   546.15    645.97       42756.82
13          42756.82   1192.12   538.02     654.1       42102.72
14          42102.72   1192.12   529.79    662.33       41440.39
15          41440.39   1192.12   521.46    670.66       40769.72
16          40769.72   1192.12   513.02     679.1       40090.62
17          40090.62   1192.12   504.47    687.65       39402.97
18          39402.97   1192.12   495.82     696.3       38706.67
19          38706.67   1192.12   487.06    705.06        38001.6
20           38001.6   1192.12   478.19    713.94       37287.67
21          37287.67   1192.12    469.2    722.92       36564.75
22          36564.75   1192.12   460.11    732.02       35832.73
23          35832.73   1192.12    450.9    741.23        35091.5
24           35091.5   1192.12   441.57    750.55       34340.95
25          34340.95   1192.12   432.12     760.0       33580.95
26          33580.95   1192.12   422.56    769.56       32811.39
27          32811.39   1192.12   412.88    779.25       32032.14
28          32032.14   1192.12   403.07    789.05       31243.09
29          31243.09   1192.12   393.14    798.98       30444.11
30          30444.11   1192.12   383.09    809.03       29635.08
31          29635.08   1192.12   372.91    819.21       28815.86
32          28815.86   1192.12    362.6    829.52       27986.34
33          27986.34   1192.12   352.16    839.96       27146.38
34          27146.38   1192.12   341.59    850.53       26295.85
35          26295.85   1192.12   330.89    861.23       25434.61
36          25434.61   1192.12   320.05    872.07       24562.54
37          24562.54   1192.12   309.08    883.04        23679.5
38           23679.5   1192.12   297.97    894.16       22785.34
39          22785.34   1192.12   286.72    905.41       21879.94
40          21879.94   1192.12   275.32     916.8       20963.14
41          20963.14   1192.12   263.79    928.34        20034.8
42           20034.8   1192.12    252.1    940.02       19094.78
43          19094.78   1192.12   240.28    951.85       18142.93
44          18142.93   1192.12    228.3    963.82       17179.11
45          17179.11   1192.12   216.17    975.95       16203.16
46          16203.16   1192.12   203.89    988.23       15214.92
47          15214.92   1192.12   191.45   1000.67       14214.26
48          14214.26   1192.12   178.86   1013.26        13201.0
49           13201.0   1192.12   166.11   1026.01       12174.99
50          12174.99   1192.12    153.2   1038.92       11136.07
51          11136.07   1192.12   140.13   1051.99       10084.07
52          10084.07   1192.12   126.89   1065.23        9018.84
53           9018.84   1192.12   113.49   1078.64         7940.2
54            7940.2   1192.12    99.91   1092.21         6848.0
55            6848.0   1192.12    86.17   1105.95        5742.04
56           5742.04   1192.12    72.25   1119.87        4622.18
57           4622.18   1192.12    58.16   1133.96        3488.22
58           3488.22   1192.12    43.89   1148.23        2339.99
59           2339.99   1192.12    29.44   1162.68        1177.31
60           1177.31   1192.12    14.81   1177.31            0.0

In [90]:
calculate_snapshot_monthly(P=LOAN_AMT, r=APR, n=LOAN_TERM)

1192.122677298203

In [62]:
calculate_interest(P=LOAN_AMT, r=APR)

625.0

In [64]:
generate_amortization_table(P=LOAN_AMT, r=APR, n=LOAN_TERM)

564.4965043179393

In [44]:
LOAN_AMT / ( (1+APR)**LOAN_TERM-1 ) * (APR*(1+APR)**LOAN_TERM)

1189.4965043179393

In [7]:
(50000-I)*0.15/12

617.1875