In [67]:
import pandas as pd

In [65]:
LOAN_AMT = 50000
LOAN_TERM = 60 #in month
APR = 0.1510 #in percentage

In [ ]:
# APR = (Interest / Loan amount) / Number of days in loan term)) x 365 x 100
APR * N / 36500 = (I+F) / P

In [14]:
625/50000/(60*365)

5.707762557077626e-07

In [6]:
I = 50000*0.15/12
I

625.0

In [112]:
def calculate_interest(P,r):
    '''Calculate simple monthly interest payment
    '''
    
    return P*r/12
    
def calculate_snapshot_monthly(P, r, n):
    '''Calculate amortized monthly payment
    
    P (int): initial principal
    r (float): interest per period (e.g., APR/12)
    n (int): total number of payments
    '''
    r /= 12 #interest per month
    A = P / ( (1+r)**n-1 ) * (r*(1+r)**n)
    
    return A

def generate_amortization_table(P,r,n,additive=0):
    '''Generate complete amortization schedule
    
    P (int): initial principal
    r (float): interest per period (e.g., APR/12)
    n (int): total number of payments
    additive (float): additional monthly principal payment
    '''
    cols = ['Beginning Balance', 'Total Pmt', 'Interest', 'Principal', 'Ending Balance']
    df = pd.DataFrame(columns=cols)
    M = calculate_snapshot_monthly(P=P, r=r, n=n) #monthly total (this is constant)
    
    for i in range(n):
        I = calculate_interest(P=P, r=r)
        P_i = P #initial balance
        pr = M-I #principal
        P -= pr+additive #ending balance
        tmp = [P_i, M, I, pr, P]
        tmp = [round(j,2) for j in tmp]
        
        df = pd.concat([df, pd.DataFrame(tmp, index=cols).T])
        df = df.reset_index(drop=True)
        df.index += 1
    return df

In [115]:
generate_amortization_table(P=LOAN_AMT, r=APR, n=LOAN_TERM, additive=50)

   Beginning Balance Total Pmt Interest Principal Ending Balance
1            50000.0   1192.12   629.17    562.96       49387.04
2           49387.04   1192.12   621.45    570.67       48766.37
3           48766.37   1192.12   613.64    578.48        48137.9
4            48137.9   1192.12   605.74    586.39       47501.51
5           47501.51   1192.12   597.73     594.4       46857.11
6           46857.11   1192.12   589.62     602.5       46204.61
7           46204.61   1192.12   581.41    610.71       45543.89
8           45543.89   1192.12   573.09    619.03       44874.87
9           44874.87   1192.12   564.68    627.45       44197.42
10          44197.42   1192.12   556.15    635.97       43511.45
11          43511.45   1192.12   547.52     644.6       42816.84
12          42816.84   1192.12   538.78    653.34        42113.5
13           42113.5   1192.12   529.93    662.19        41401.3
14           41401.3   1192.12   520.97    671.16       40680.15
15          40680.15   1192.12   511.89    680.23       39949.92
16          39949.92   1192.12    502.7    689.42        39210.5
17           39210.5   1192.12    493.4    698.72       38461.77
18          38461.77   1192.12   483.98    708.15       37703.63
19          37703.63   1192.12   474.44    717.69       36935.94
20          36935.94   1192.12   464.78    727.35        36158.6
21           36158.6   1192.12    455.0    737.13       35371.47
22          35371.47   1192.12   445.09    747.03       34574.44
23          34574.44   1192.12   435.06    757.06       33767.38
24          33767.38   1192.12   424.91    767.22       32950.16
25          32950.16   1192.12   414.62     777.5       32122.66
26          32122.66   1192.12   404.21    787.91       31284.75
27          31284.75   1192.12   393.67    798.46       30436.29
28          30436.29   1192.12   382.99    809.13       29577.16
29          29577.16   1192.12   372.18    819.94       28707.22
30          28707.22   1192.12   361.23    830.89       27826.33
31          27826.33   1192.12   350.15    841.97       26934.35
32          26934.35   1192.12   338.92     853.2       26031.15
33          26031.15   1192.12   327.56    864.56       25116.59
34          25116.59   1192.12   316.05    876.07       24190.52
35          24190.52   1192.12    304.4    887.73       23252.79
36          23252.79   1192.12    292.6    899.53       22303.27
37          22303.27   1192.12   280.65    911.47       21341.79
38          21341.79   1192.12   268.55    923.57       20368.22
39          20368.22   1192.12    256.3    935.82        19382.4
40           19382.4   1192.12    243.9    948.23       18384.17
41          18384.17   1192.12   231.33    960.79       17373.38
42          17373.38   1192.12   218.62    973.51       16349.88
43          16349.88   1192.12   205.74    986.39       15313.49
44          15313.49   1192.12   192.69    999.43       14264.06
45          14264.06   1192.12   179.49   1012.63       13201.43
46          13201.43   1192.12   166.12    1026.0       12125.42
47          12125.42   1192.12   152.58   1039.54       11035.88
48          11035.88   1192.12   138.87   1053.25        9932.62
49           9932.62   1192.12   124.99   1067.14        8815.49
50           8815.49   1192.12   110.93   1081.19        7684.29
51           7684.29   1192.12    96.69   1095.43        6538.86
52           6538.86   1192.12    82.28   1109.84        5379.02
53           5379.02   1192.12    67.69   1124.44        4204.58
54           4204.58   1192.12    52.91   1139.21        3015.37
55           3015.37   1192.12    37.94   1154.18        1811.19
56           1811.19   1192.12    22.79   1169.33         591.86
57            591.86   1192.12     7.45   1184.68        -642.82
58           -642.82   1192.12    -8.09   1200.21       -1893.03
59          -1893.03   1192.12   -23.82   1215.94       -3158.97
60          -3158.97   1192.12   -39.75   1231.87       -4440.84

In [90]:
calculate_snapshot_monthly(P=LOAN_AMT, r=APR, n=LOAN_TERM)

1192.122677298203

In [62]:
calculate_interest(P=LOAN_AMT, r=APR)

625.0

In [64]:
generate_amortization_table(P=LOAN_AMT, r=APR, n=LOAN_TERM)

564.4965043179393

In [44]:
LOAN_AMT / ( (1+APR)**LOAN_TERM-1 ) * (APR*(1+APR)**LOAN_TERM)

1189.4965043179393

In [7]:
(50000-I)*0.15/12

617.1875