In [3]:
import pandas as pd

In [4]:
LOAN_AMT = 50000
LOAN_TERM = 60 #in month
APR = 0.1510 #in percentage

In [ ]:
# APR = (Interest / Loan amount) / Number of days in loan term)) x 365 x 100
# APR * N / 36500 = (I+F) / P

In [13]:
def calculate_interest(P,r):
    '''Calculate simple monthly interest payment
    '''
    
    return P*r/12
    
def calculate_snapshot_monthly(P, r, n):
    '''Calculate amortized monthly payment
    
    P (int): initial principal
    r (float): interest per period (e.g., APR/12)
    n (int): total number of payments
    '''
    r /= 12 #interest per month
    A = P / ( (1+r)**n-1 ) * (r*(1+r)**n)
    
    return A

def generate_amortization_table(P,r,n,additive=0):
    '''Generate complete amortization schedule
    
    P (int): initial principal
    r (float): interest per period (e.g., APR/12)
    n (int): total number of payments
    additive (float): additional monthly principal payment
    '''
    cols = ['Beginning Balance', 'Total Pmt', 'Interest', 'Principal', 'Ending Balance']
    df = pd.DataFrame(columns=cols)
    M = calculate_snapshot_monthly(P=P, r=r, n=n) #monthly total (this is constant)
    
    for i in range(n):
        I = calculate_interest(P=P, r=r)
        P_i = P #initial balance
        pr = M-I #principal
        P -= pr+additive #ending balance

        if P < 0: P = 0

        tmp = [P_i, M, I, pr, P]
        tmp = [round(j,2) for j in tmp]
        
        df = pd.concat([df, pd.DataFrame(tmp, index=cols).T])

        if P == 0: #break cycle if ends early
            break

    df = df.reset_index(drop=True)
    df.index += 1
    
    return df

In [15]:
generate_amortization_table(P=LOAN_AMT, r=APR, n=LOAN_TERM, additive=150)

   Beginning Balance Total Pmt Interest Principal Ending Balance
1            50000.0   1192.12   629.17    562.96       49287.04
2           49287.04   1192.12    620.2    571.93       48565.12
3           48565.12   1192.12   611.11    581.01        47834.1
4            47834.1   1192.12   601.91    590.21       47093.89
5           47093.89   1192.12    592.6    599.52       46344.37
6           46344.37   1192.12   583.17    608.96       45585.41
7           45585.41   1192.12   573.62    618.51       44816.91
8           44816.91   1192.12   563.95    628.18       44038.73
9           44038.73   1192.12   554.15    637.97       43250.76
10          43250.76   1192.12   544.24    647.88       42452.88
11          42452.88   1192.12    534.2    657.92       41644.95
12          41644.95   1192.12   524.03    668.09       40826.86
13          40826.86   1192.12   513.74    678.38       39998.48
14          39998.48   1192.12   503.31    688.81       39159.67
15          39159.67   1192.12   492.76    699.36       38310.31
16          38310.31   1192.12   482.07    710.05       37450.26
17          37450.26   1192.12   471.25    720.87       36579.38
18          36579.38   1192.12   460.29    731.83       35697.55
19          35697.55   1192.12   449.19    742.93       34804.62
20          34804.62   1192.12   437.96    754.16       33900.46
21          33900.46   1192.12   426.58    765.54       32984.92
22          32984.92   1192.12   415.06    777.06       32057.85
23          32057.85   1192.12   403.39    788.73       31119.13
24          31119.13   1192.12   391.58    800.54       30168.59
25          30168.59   1192.12   379.62     812.5       29206.08
26          29206.08   1192.12   367.51    824.61       28231.47
27          28231.47   1192.12   355.25    836.88       27244.59
28          27244.59   1192.12   342.83    849.29        26245.3
29           26245.3   1192.12   330.25    861.87       25233.43
30          25233.43   1192.12   317.52     874.6       24208.83
31          24208.83   1192.12   304.63    887.49       23171.33
32          23171.33   1192.12   291.57    900.55       22120.78
33          22120.78   1192.12   278.35    913.77       21057.01
34          21057.01   1192.12   264.97    927.16       19979.86
35          19979.86   1192.12   251.41    940.71       18889.15
36          18889.15   1192.12   237.69    954.43       17784.71
37          17784.71   1192.12   223.79    968.33       16666.38
38          16666.38   1192.12   209.72     982.4       15533.98
39          15533.98   1192.12   195.47    996.65       14387.33
40          14387.33   1192.12   181.04   1011.08       13226.24
41          13226.24   1192.12   166.43   1025.69       12050.55
42          12050.55   1192.12   151.64   1040.49       10860.06
43          10860.06   1192.12   136.66   1055.47         9654.6
44            9654.6   1192.12   121.49   1070.64        8433.96
45           8433.96   1192.12   106.13    1086.0        7197.97
46           7197.97   1192.12    90.57   1101.55        5946.42
47           5946.42   1192.12    74.83    1117.3        4679.12
48           4679.12   1192.12    58.88   1133.24        3395.88
49           3395.88   1192.12    42.73   1149.39        2096.49
50           2096.49   1192.12    26.38   1165.74         780.74
51            780.74   1192.12     9.82    1182.3            0.0

In [90]:
calculate_snapshot_monthly(P=LOAN_AMT, r=APR, n=LOAN_TERM)

1192.122677298203

In [62]:
calculate_interest(P=LOAN_AMT, r=APR)

625.0

In [64]:
generate_amortization_table(P=LOAN_AMT, r=APR, n=LOAN_TERM)

564.4965043179393

In [44]:
LOAN_AMT / ( (1+APR)**LOAN_TERM-1 ) * (APR*(1+APR)**LOAN_TERM)

1189.4965043179393

In [7]:
(50000-I)*0.15/12

617.1875